* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 100px 0;
    font-size: 2.5em;
    text-align: center;
    color: red;
}

div {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

button {
    width: 50%;
    height: 100px;
}
