* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(78, 78, 78);
}

h1 {
    color: white;
    margin: 100px 0;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

div {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.main-container * {
    margin: 20px 0;
}

div.menu {
    width: 100%;
    background-color: rgb(35, 35, 35);
    height: 60px;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 180px 1fr 180px;
}

div.menu-div {
    height: 60px;
}

div#menu-div-left {
    display: block;
}

.menu-btn {
    height: 60%;
    border: none;
}

a#menu-btn-home {
    width: 40px;
    height: 40px;
    margin: 10px 0 0 20px;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}

i.bi.bi-house-door-fill {
    font-size: 35px;
    color: white;
    cursor: pointer;
}

button#menu-btn-start-session {
    background-color: rgb(35, 35, 35);
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 20px;
    cursor: pointer;
}

p {
    color: white;
    font-size: 2em;
}

button {
    padding: 10px 20px;
}
