* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(78, 78, 78);
}

/****************************************************/
/* TEXT */
/****************************************************/
h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

h1#main-title {
    margin: 100px 0;
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

p {
    color: white;
    font-size: 2em;
}

p.p-tutorial {
    margin: 50px 0 25px 0;
}

/****************************************************/
/* CONTAINER */
/****************************************************/
div {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.main-container * {
    margin: 20px 0;
}

div.menu {
    width: 100%;
    background-color: rgb(35, 35, 35);
    height: 60px;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 180px 1fr 180px;
}

div.menu-div {
    height: 60px;
}

div#menu-div-left {
    display: block;
}

div.second-title {
    width: 50%;
}

.slider-1 {
    max-width: 600px;
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid white;
}

.slider-1 .slider {
    display: flex;
    flex-direction: initial;
    justify-content: initial;
    animation: slider-1 12s infinite ease-in-out;
}

.slider-1 p {
    background: black;
    flex-shrink: 0;
    padding: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3em;
}

@keyframes slider-1 {
    0%,
    20% {
        transform: translateX(0);
    }
    25%,
    45% {
        transform: translateX(-100%);
    }
    50%,
    70% {
        transform: translateX(-200%);
    }
    75%,
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}

/****************************************************/
/* BUTTON / LINK */
/****************************************************/
.menu-btn {
    height: 60%;
    border: none;
}

a#menu-btn-home {
    width: 40px;
    height: 40px;
    margin: 10px 0 0 20px;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}

i.bi.bi-house-door-fill {
    font-size: 35px;
    color: white;
}

a#menu-btn-start-session {
    background-color: rgb(35, 35, 35);
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 20px;
    text-decoration: none;
    padding: 8px;
}

/****************************************************/
/* VIDEO */
/****************************************************/
video {
    width: 900px;
    height: 500px;
    border-radius: 20px;
}
