* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(78, 78, 78);
}

/****************************************************/
/* TEXT */
/****************************************************/
h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

h1#main-title {
    margin: 100px 0;
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

h3 {
    color: white;
    font-size: 1.5em;
    margin: 15px 0 15px 30px;
    width: 100%;
}

p {
    color: white;
    font-size: 2em;
}

p.p-tutorial {
    margin: 50px 0 25px 0;
}

p.description {
    font-size: 1.6em;
}

p.p-session-info {
    margin: 20px 0;
}

p.p-player {
    font-size: 2em;
}

p.p-description-text {
    font-size: 1em;
    color: white;
    width: 100%;
    margin: 0 10px 20px 50px;
}

/****************************************************/
/* CONTAINER */
/****************************************************/
div {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.menu {
    width: 100%;
    background-color: rgb(35, 35, 35);
    height: 60px;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 180px 1fr 180px;
    z-index: 2;
}

div.menu-div {
    height: 60px;
}

div#menu-div-left {
    display: block;
}

div.main-container {
    width: 100%;
    margin-top: 100px;
    padding: 50px 0;
}

div.second-title {
    width: 50%;
}

div.slider-1 {
    max-width: 90%;
    height: 200px;
    margin: 100px auto;
    overflow: hidden;
}

div.slider-1 div.slider {
    height: 100%;
    display: flex;
    flex-direction: initial;
    justify-content: initial;
    animation: slider-1 30s infinite linear;
}

div.slider-1:hover div.slider {
  animation-play-state: paused;
}

div.slide {
    flex-shrink: 0;
    padding: 50px;
    width: 15%;
    height: 100%;
    margin: 0 1%;
}

div.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 8px;
}

@keyframes slider-1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-170%);
    }
}

div#QRCode-container {
    margin-bottom: 20px;
}

div#pop-up-help-qrcode {
    display: none;
    position: fixed;
    top: 100px;
    width: 50%;
    height: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 101, 101);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

span#close-pop-up {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    font-size: 48px;
}

div#player-display {
    display: none;
    flex-direction: row;
    margin-bottom: 50px;
}

div#player-display * {
    margin: 0 8% 0 8%;
}

div.catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    align-items: initial;
}

div.game-card {
    flex-shrink: 0;
    padding: 50px;
    width: 15%;
    height: 100%;
    margin: 0 1%;
    text-align: center;
}

div.game-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 8px;
}

div.description-game {
    width: 400px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: rgb(58, 58, 58);
    margin-top: 30px;
    border-radius: 20px;
    text-align: left;
    justify-content: initial;
}


/****************************************************/
/* BUTTON / LINK */
/****************************************************/
a.menu-btn {
    height: 60%;
    border: none;
}

a#menu-btn-home {
    width: 40px;
    height: 40px;
    margin: 10px 0 0 20px;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}

i.bi.bi-house-door-fill {
    font-size: 35px;
    color: white;
}

a#menu-btn-start-session {
    background-color: rgb(35, 35, 35);
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 20px;
    text-decoration: none;
    padding: 8px;
}

button#btn-generate-session {
    background-color: rgb(78, 78, 78);
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 50px;
}

button.qrcode-help {
    background-color: rgb(78, 78, 78);
    border: none;
    color: rgb(112, 112, 249);
    font-size: 1em;
    cursor: pointer;
    text-decoration: underline;
    margin: 5px 0;
}

button#qrcode-help-2 {
    margin-bottom: 50px;
}

button.btn-game-card {
    background-color: rgb(78, 78, 78);
    border: 1px solid greenyellow;
    color: greenyellow;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
}

button.btn-game-card:active {
    background-color: greenyellow;
    color: rgb(78, 78, 78);
}

button.btn-game-card-description {
    background-color: rgb(78, 78, 78);
    color: rgb(39, 194, 245);
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    display: inline-flex;
}

span.btn-game-description-arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

span.btn-game-description-arrow.rotated {
    transform: rotate(180deg);
}


/****************************************************/
/* VIDEO */
/****************************************************/
video {
    width: 900px;
    height: 500px;
    border-radius: 20px;
}
